
  <div class="pg-wrap">
    <div class="fac-head-wrap">
      <div class="img-wrap">
        <img src="../../../../assets/default.png">
      </div>
      <div class="fac-name">Continental Hospital</div>
    </div>

    <div class="body-wrap">
      <table class="ui compact celled definition table">
        <thead>
          <tr>
            <th></th>
            <th>Modules Requested</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="collapsing">
              <div class="ui fitted slider checkbox">
                <input type="checkbox"> <label></label>
              </div>
            </td>
            <td>Facility Module</td>
          </tr>
          <tr>
            <td class="collapsing">
              <div class="ui fitted slider checkbox">
                <input type="checkbox"> <label></label>
              </div>
            </td>
            <td>Pharmacy Module</td>
          </tr>
          <tr>
            <td class="collapsing">
              <div class="ui fitted slider checkbox">
                <input type="checkbox"> <label></label>
              </div>
            </td>
            <td>Laboratory Module</td>
          </tr>
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <div class="ui right floated small primary labeled icon button">
                <i class="plus icon"></i> Add Module
              </div>
              <div class="ui small button">
                Approve
              </div>
              <div class="ui small  disabled button">
                Approve All
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
  <!-- <form [formGroup]="frm_payout" class="ui form">
    <h4 class="ui dividing header">Approve Subscribtion</h4>
    <div class="field">
      <label>Amount (&#x20A6;)</label>
      <div class="field">
        <input type="number" formControlName="amount" placeholder="Amount (&#x20A6;)">
      </div>
    </div>

    <div class="field">
      <label>Payment Type</label>
      <div class="ui form">
        <div class="field">
          <select formControlName="type">
            <option value="1">Flutter Wave</option>
            <option value="0">Paystack</option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="ui button" tabindex="0">Approve Payout</div>
  </form> -->