<div class="row">
    <div class="col-lg-4">
        <div class="ui segment raised">
            <div class="ui horizontal blue statistic">
                <div class="value">
                    700
                </div>
                <div class="label">
                    Faculty
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ui segment raised">
            <div class="ui horizontal blue statistic">
                <div class="value">
                    30
                </div>
                <div class="label">
                    Professions
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ui segment raised">
            <div class="ui horizontal blue statistic">
                <div class="value">
                    62
                </div>
                <div class="label">
                    Caders
                </div>
            </div>
        </div>
    </div>
</div>