<div class="portal"> 
  <aside>
      <div class="ui sidemenu secondary vertical pointing menu">
          <a class="item" routerLink="facility" routerLinkActive="active">
              <i class="angle right icon"></i>Facility Manager
          </a>
          <a class="item" routerLink="person" routerLinkActive="active">
              <i class="angle right icon"></i>Person Manager
          </a>
          <a class="item" routerLink="payout" routerLinkActive="active">
              <i class="angle right icon"></i>Facility Payout
          </a>
          <a class="item" routerLink="subscribtion" routerLinkActive="active">
            <i class="angle right icon"></i>Subsribtions 
          </a>
          <a class="item" routerLink="profession" routerLinkActive="active">
              <i class="angle right icon"></i>Profession
          </a>
          <a class="item" routerLink="title" routerLinkActive="active">
              <i class="angle right icon"></i>Title
          </a>
          <a class="item" routerLink="country" routerLinkActive="active">
              <i class="angle right icon"></i>Country
          </a>
      </div>
  </aside>
  <main>
      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div>
  </main>
</div>
<delete-modal></delete-modal>
<add-modal></add-modal>