header {
    background: #0a2945;
    width: 100%;
    box-shadow: 0px 2px 10px #000;
    position: fixed;
    top: 0;
    z-index: 99;
}

aside {
    padding-top: 100px;
    background: #fff;
    height: 100%;
    position: fixed;
    margin-right: 20px;
    top: 0;
    width: 200px;
}

.ui.vertical.menu {
    width: auto !important;
}

.ui.sidemenu .item {
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    margin-top: 100px;
    margin-left: 200px;
}

.ui.secondary.pointing.menu .item.active {
    background-color: transparent;
    box-shadow: none;
    border-color: #6c6cff !important;
    font-weight: 900;
    color: #6c6cff !important;
}

.head-link {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #3895e8;
    text-decoration: underline;
    cursor: pointer;
}

.user-wrap{
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: 10px;
}
.user-img-wrap {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 100%;
    background: #fff;
}
.user-img-wrap img{
    width: 100%; 
}