<header>
    <div class="ui secondary pointing menu">
        <a class="item active">
            <img src="assets/APMIS-LOGO.png"> &nbsp; Management Portal
        </a> 
        <div class="right menu"> 
            <div (click)="show_db()" *ngIf="isDashboard" class="head-link">Management Portal</div>
            <div (click)="show_db()" *ngIf="!isDashboard" class="head-link">Dashboard</div>

            <div class="user-wrap">
                <div class="user-img-wrap">
                    <img src="../../../assets/users//default.png">
                </div>
                <div class="user-label">
                    <div class="username">John Wade</div>
                </div>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>