<div>
  <div class="sect-toplinks">
    <div class="sect-title">Persons</div>
    <div class="sect-links">
      <div class="ui search">
        <div class="ui icon input">
          <input (keyup)="onSearch()" class="prompt" type="text" placeholder="select person">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="sect-tbl">
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Person</th>
          <th>Type</th>
          <th>Signup Date</th>
          <th>Status</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead> 
      <tbody class="tbody-persons">
        <tr routerLink="../detail">
          <td>
            <div class="tbl-img-wrap">
              <img class="ui avatar image" src="../../../../assets/users/default.png">
              <div class="tbl-img-label">Sandra Welch</div>
            </div>
          </td>
          <td>Patient</td>
          <td>September 14, 2013</td>
          <td>Active</td>
          <td>sandra.welch@gmail.com</td>
          <td>08099877766</td>
        </tr>
        <tr routerLink="../detail">
          <td>
            <div class="tbl-img-wrap">
              <img class="ui avatar image" src="../../../../assets/users/default.png">
              <div class="tbl-img-label">Joe Daniels</div>
            </div>
          </td>
          <td>Employee, Patient, User</td>
          <td>September 14, 2013</td>
          <td>Active</td>
          <td>joe.dan@gmail.com</td>
          <td>08099887766</td>
        </tr>
        <tr routerLink="../detail">
          <td>
            <div class="tbl-img-wrap">
              <img class="ui avatar image" src="../../../../assets/users/default.png">
              <div class="tbl-img-label">Igado Dauda</div>
            </div>
          </td>
          <td>User</td>
          <td>September 14, 2013</td>
          <td>Inactive</td>
          <td>igado_d@gmail.com</td>
          <td>08077668765</td>
        </tr>
      </tbody>
      <tfoot>
          <tr><th colspan="6">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div> 