<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <h2 class="title">Countries</h2>
            <a (click)="add()" class="button pull-right">
                <i class="icon add"></i> Add Country
            </a>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let country of countries; let i = index" class="col-lg-4">
            <div class="box">
                <div class="row" id="{{i}}" (click)="more(i)">
                    <div class="col-sm-8 title"><span id="t{{i}}">{{country.name | titlecase}}</span>
                        <div id="e{{i}}" class="ui left input edit hidden loading">
                            <input type="text" [(ngModel)]="country.name" (keyup.enter)="quickEdit(i,country._id,country.name)">
                            <i id="icon{{i}}" class="search icon hidden"></i>
                        </div>
                    </div>
                    <div class="col-sm-3 tag">{{country.states.length}} States</div>
                    <div class="col-sm-1">
                        <i class="icon angle down"></i>
                    </div>
                </div>
                <div class="row expanded" id="{{i}}">
                    <div class="ui secondary labeled icon menu">
                        <a class="item" (click)="viewStates(country._id)">
                            <i class="icon unhide"></i> View
                        </a>
                        <a class="item" (click)="edit(i)">
                            <i class="icon edit"></i> Quick Edit
                        </a>
                        <a class="item" (click)="delete(country)">
                            <i class="icon trash"></i> Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>